.personal-title {
  display: block;
  padding: 0 10px;
  font-size: 28px !important;
  font-weight: 600;
  border-left: 4px solid red;
  opacity: 0.8;
  margin-top: 20px;
  margin-top: 0;
}

.personal-title_description {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.personal-sub_title {
  display: block;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0 15px;
  border-left: 4px solid darkred;
  opacity: 0.8;
}

.personal-sub_title_content {
  font-size: 20px;
  font-weight: 300;
}

.personal-last_title {
  display: block;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 20px;
  border-left: 4px solid black;
  opacity: 0.8;
}

.personal-content_title1 {
  display: block;
  font-size: 20px;
  margin: 20px 0 10px;
  padding-left: 10px;
  border-left: 3px solid indianred;
}

.personal-content_content1 {
  display: block;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.personal-ul {
  display: block;
  margin: 15px 0;
  list-style-type: circle;
  font-size: 18px;
}

.personal-ul li {
  display: block;
  margin: 7px;
}

.personal-my_link {
  background: green;
  padding: 1px 4px;
  color: white;
}

.personal-y_mark {
  font-weight: 600;
  background: yellow;
}

.personal-r_mark {
  font-weight: 600;
  color: red;
}

.personal-bold {
  font-weight: 400;
}

.personal-bold_line {
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}

.personal-image {
  display: block;
  margin: 10px 0;
}

.personal-warn_title {
  display: block;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 20px;
  border-left: 4px solid red;
  opacity: 0.8;
}

.personal-map {
  margin: 0;
}
